.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;

  align-self: center;

  padding: 0 $space;

  @include breakpoint(md up) {
    padding: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;

  .col {
    @for $i from 1 to 13 {
      &--#{$i} {
        grid-column-end: span #{$i + 2};
      }
    }
  }

  .col-offset {
    @for $i from 1 to 13 {
      &--#{$i} {
        grid-column-start: #{$i + 2};
      }
    }
  }

  @include breakpoint(md up) {
    .col-md {
      @for $i from 1 to 13 {
        &--#{$i} {
          grid-column-end: span #{$i + 2};
        }
      }
    }

    .col-md-offset {
      @for $i from 1 to 13 {
        &--#{$i} {
          grid-column-start: #{$i + 2};
        }
      }
    }
  }
}
