.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;

  .col {
    @for $i from 1 to 12 {
      &--#{$i} {
        grid-column: span #{$i};
      }
    }
  }
}
