input {
  width: 100%;
  padding: $space;
  border: 0;
  background: $primary--dark;
  color: white;
  font-size: 1rem;

  font-style: italic;

  margin-right: $space;

  transition: .5s background;

  &:hover,
  &:active,
  &:focus {
    background: $primary;
    outline: none;
  }
}

::placeholder {
  color: white;
}

label {
  font-weight: 300;
}
