input {
  padding: $space;
  border: 0;
  background: $primary;
  color: white;
  font-size: 1rem;

  font-style: italic;

  margin-right: $space;

  transition: .5s background;

  &:hover,
  &:active,
  &:focus {
    background: $primary--dark;
    outline: none;
  }
}

::placeholder {
  color: white;
}
