.nav {
  background: $background--lighter;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-right: $space;
    }

    a {
      display: block;
      color: white;
      padding: $space $space;
      font-weight: 700;

      transition: background .5s;

      &.router-link-exact-active,
      &:hover {
        background: $background;
      }
    }
  }
}
