.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: white;
  border-radius: 50%;
  overflow: hidden;

  canvas {
    width: 90% !important;
    height: 90% !important;
  }
}
