$primary: rgb(44, 68, 96);
$primary--light: rgb(78, 130, 191);
$primary--dark: rgb(37, 57, 82);

$secondary: rgb(244, 233, 95);

$background: rgb(36, 48, 59);
$background--light: rgb(53, 72, 89);
$background--lighter: rgb(50, 106, 116);

$disabled: rgb(99, 99, 99);

$error: rgb(190, 34, 41);
$success: rgb(73, 209, 62);
$warning: rgb(240, 238, 44);
